<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bedrock Enrollment Recommendation</title>
  </head>
  <body>
    <div style="max-width: 600px; margin: auto; padding: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; letter-spacing: 0.1rem">
      <h1 style="font-size: 24px; color: #582f18">Dear, {{name}}!</h1>
      <p style="font-size: 16px; color: #374151; letter-spacing: 0.1rem">Recommendation:</p>
      <div>{{content}}</div>
      <p style="font-size: 16px; color: #374151; letter-spacing: 0.1rem">Best,<br />Bedrock Knowledge Center</p>

      <a href="{{bedrockLink}}" style="display: inline-block; text-decoration: none; font-weight: bold; border-radius: 5px">{{bedrockLink}}</a>
    </div>
  </body>
</html>
